body{
    background-image: url(https://media.istockphoto.com/id/684523300/vector/cookies-in-bowl-biscuit-in-deep-transparent-plate-oatmeal-cookie-with-chocolate-drops.jpg?s=612x612&w=0&k=20&c=AD39Hw18RjNBKz375_fokNM_kesTQaeXyJ8yD-9QzjE=);
}

h1{
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
    font-style: normal;
}